{% extends "organs/base.html" %}

{% block page-title %}
    {{title}}
{% endblock  %}

{% block page-welcome %}
    {{message}}
{% endblock  %}

{% block page-data %}
    <form method="post", action=#>
        {% csrf_token %}
        <label for="organ_system">Select an Organ System:</label>
        <select name="organ_system" id="organ_system">
            {% for organ in all_organ_systems %}
            <option value="{{ organ }}">{{ organ|capfirst }}</option>  <!-- Value and Label for each option -->
            {% endfor %}
        </select>
        <br>
        <label>Search with Organs name: </label>
        {{form.organ_name}}
        <br>
        <button type="submit">Search</button>
    </form>
{% endblock  %}